.country-name, .days, .country-date{
    font-size: 24px;
    font-weight: bold;
    color: #1A1A1A;
    text-align: left;
    margin: 0;
}

.heaven{
    color: #2F94F5;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.clouds-date{
    font-size: 15px;
}

.logo{
    width: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

.panel-days{
    margin-top: 35px;
    .days{
        font-size: 18px;
        margin-bottom: 10px;
    }
}


.panel-weather{
    width: 100%;
    padding: 0 20%;
}


@media (max-width: 750px){
    .panel-weather{
        width: 100%;
        padding: 0;
    }
    .country-date, .country-name ,.panel-weather, .days{
        text-align: center;
    }
}
