*{
    font-family:  Helvetica, sans-serif;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;   
    background: #f3efff;
    position: relative;
}


@media (max-width: 750px){
    .container{
        flex-direction: column;
    }
}