body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row{
  display: flex;
  width: 100%;
  &-reverse{
    flex-direction: row-reverse;
  }
}

.btn{
  border: none;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  &-blue{
    background: #2F94F5;
    color: #fff;
  }
}